li
{display:inline;
	margin: auto;
	color: white;
	border: 1px solid black;
	background-color: blue;
	padding-right: 10px;
	padding-left: 10px;
	
}

 li:nth-of-type(odd)
    {
    	display:none;
    }

li:nth-of-type(2n + 4),
	 	li:nth-of-type(3n + 6),
		li:nth-of-type(4n + 8),
		li:nth-of-type(5n + 10) 
		{
		    visibility: visible;
		}

 li {
 	visibility: hidden;
 }
