.imge{
  border-radius: 15px 15px;
  width: 50px;
  height:50px;
  margin-top: 5px;\

 

}

input{
 padding:10px 350px 10px 0;
 border-radius: 15px;
  }

.myimg
      {
  width:100px;
  height: 100px;
      }


.form1 {
display: grid;
grid-template-columns: 1fr  1fr;
padding-left: 10px;
padding-top: 20px;
}
