
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;

      }

input{
 padding:10px 350px 10px 0;
  border-radius: 15px;
    }

div > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-right: 10px;
          }

button {
  background-color:#f2f2f2;
  color: black;
  padding: 10px 15px;
  margin: 15px 15px;
  border: none;
  width: 100%;
  border-radius: 30px;

        }

.test:hover{
  color: black;
  font-size: 10px;
}

.form1 {
  width: 25%;
  margin-left: 37%;
  background-color: white;
  padding-top: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
        }

.myimg
      {
  width: 100%
      }

.ms
    { height: 20px; 
  width: 25%;
  margin-left: 37%;
   color: #FF5C2B; 
    }
.imge{
  border-radius: 15px;
  width: 30px;
  height:30px;
margin-top: 10px;
}

header{
  display: flex;
  justify-content: flex-end;
}